<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzx954WHQ2nwMgAfcIxhCoAmOSB2uA5fU</string>
	<key>GCM_SENDER_ID</key>
	<string>262906259636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eddiesThesis</string>
	<key>PROJECT_ID</key>
	<string>eddiesthesis</string>
	<key>STORAGE_BUCKET</key>
	<string>eddiesthesis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262906259636:ios:ed4294c7a4900c1d9a0fe1</string>
</dict>
</plist>